.apply-promo {
	position: relative;
	height: 50px;
	margin: 0 15px;

	input {
		padding: 5px;
		border-radius: 4px;
		border: 1px solid rgba($black, .5);

		@include placeholder {
		    font-style: italic;
		    color: rgba($black, .45);
		    font-weight: 100;
		    font-size: 12px;
		}
	}

	&__btn {
		width: 80px;
		height: 28px;
		vertical-align: top;
		display: inline-block;
		border-radius: 4px;
		border: 1px solid rgba($black, .5);
		line-height: 28px;
		text-align: center;
		cursor: pointer;

		@include transition(all, .1s);

		&:hover {
			background-color: rgba($purple, .5);
		}
	}
}