.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: #2b6e80 20%;
    background-image: radial-gradient(farthest-side ellipse at 10% 0, #2b6e80 20%, #0c3252);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #2b6e80 20%, #0c3252);
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #2b6e80 20%, #0c3252);
    background-attachment: fixed, fixed;
}
