.item-details {

	h1 {
		margin: 0;
		font-size: 18px;
		text-decoration: underline;
		cursor: pointer;
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 15px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		text-align: right;
	}

	&__item {
		margin: 0 15px;

		img {
			width: 120px;
			display: inline-block;
		}

		&--details {
			width: calc(100% - 150px);
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			line-height: 18px;
		}

		&--price,
		&--old {
			font-size: 14px;
			margin-right: 10px;
		}

		&--old {
			color: rgba($black, .75);
			text-decoration: line-through;
		}
	}
}