.pickup-savings {
	cursor: pointer;

	&__popup {
		position: relative;
		top: 0;
		left: 0;
		width: 200px;
		background-color: $white;
		border: 1px solid rgba($black, .25);
		border-radius: 6px;
		z-index: 2;
		font-size: 14px;
		padding: 5px;
		line-height: 20px;
	}
}