@import 'base/base';
@import 'components/base';
@import 'vendors/base';
@import 'utils/base';

#page-container {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    background-color: #2c343f;
}

// @import '~bootstrap/scss/bootstrap.scss';