$break-XXXS  				: 420px;
$break-XXS 					: 550px;
$break-XS 					: 700px;
$break-small                : 920px;
$break-large                : 1090px;
$break-XL  					: 1200px;
$break-XXL  				: 1400px;


$page-max-width 			: 1300px;

$header-height 				: 110px;

$footer-height 				: 110px;
