@mixin MQ($media) {
    @if $media == XXXS {
        @media only screen and (max-width: $break-XXXS) { @content; }
    }
    @else if $media == XXS {
        @media only screen and (min-width: $break-XXS + 1) and (max-width: $break-XS - 1) { @content; }
    }
    @else if $media == XS {
        @media only screen and (min-width: $break-XS + 1) and (max-width: $break-small - 1) { @content; }
    }
    @else if $media == S {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == L {
        @media only screen and (min-width: $break-large + 1) and (max-width: $break-XL - 1) { @content; }
    }
    @else if $media == XL {
        @media only screen and (min-width: $break-XL + 1) and (max-width: $break-XXL - 1) { @content; }
    }
    @else if $media == XXL {
        @media only screen and (min-width: $break-XXL) { @content; }
    }
}

@mixin MQBelow($media) {
    @if $media == XXXS {
        @media only screen and (max-width: $break-XXXS) { @content; }
    }
    @else if $media == XXS {
        @media only screen and (max-width: $break-XXS) { @content; }
    }
    @else if $media == XS {
        @media only screen and (max-width: $break-XS) { @content; }
    }
    @else if $media == S {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == L {
        @media only screen and (max-width: $break-large) { @content; }
    }
    @else if $media == XL {
        @media only screen and (max-width: $break-XL) { @content; }
    }
    @else if $media == XXL {
        @media only screen and (max-width: $break-XXL) { @content; }
    }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition: $what $time $how;
    -ms-transition: $what $time $how;
    -o-transition: $what $time $how;
    transition: $what $time $how;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    // -webkit-transform-origin: 50% 50%;
    // -moz-transform-origin: 50% 50%;
    // -ms-transform-origin: 50% 50%;
    // -o-transform-origin: 50% 50%;
    // transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@mixin blur($val) {
    -webkit-filter: blur($val);
    -moz-filter: blur($val);
    -o-filter: blur($val);
    -ms-filter: blur($val);
    filter: blur($val);
}

@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    -moz-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}

@mixin vertical-center($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-center($position: relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-center($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin disable-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}