@import url(https://fonts.googleapis.com/css?family=Fredoka+One|Ubuntu|Righteous);

$fredoka: 'Fredoka One', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$righteous: 'Righteous', sans-serif;

.fredoka {
	font-family: $fredoka;
}

.ubuntu {
	font-family: $ubuntu;
}

.righteous {
	font-family: $righteous;
}