.checkout {
	width: 100%;
	height: 100%;
	max-width: 320px;
	max-height: 600px;

	border: 1px solid $purple;
	border-radius: 8px;

	margin-top: 60px;

	background-color: $white;

	@include horizontal-center();
	@include box-shadow(0, 0, 20px, $purple);

	@include MQBelow('XS') {
		margin-top: 0;
		border: 0;

		@include box-shadow(0, 0, 0, $purple);
	}

	&__title {
		text-align: center;
		margin: 15px 0;
		font-size: 24px;

		@extend .fredoka;
	}

	&__hr {
		width: 90%;
		margin: 0 auto;
		height: 1px;
		background-color: rgba($purple, .5);
	}

	&__row,
	&__total {
		position: relative;
		height: 40px;
		padding: 0 15px;
		line-height: 40px;
	}

	&__row {

		h1,
		h2 {
			margin: 0;
			font-size: 18px;
		}

		h2 {
			position: absolute;
			top: 0;
			right: 15px;

			i {
				cursor: pointer;
			}
		}

		select {
			width: 100%;
			height: 30px;
			border-radius: 4px;
			border: 1px solid rgba($purple, .5);
		}
	}

	&__total {
		h1,
		h2 {
			margin: 0;
			font-size: 24px;
		}

		h2 {
			position: absolute;
			top: 0;
			right: 15px;
		}
	}
}